{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true },
    "tsconfigRootDir": ".",
    "project": "./tsconfig.json"
  },
  "plugins": ["eslint-plugin-import", "@typescript-eslint", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "prettier"
  ],

  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "typescript": {
        "paths": "./tsconfig.json",
        "alwaysTryTypes": true
      }
    }
  },

  "rules": {
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-unused-vars": "error",
    "import/no-unresolved": "error",
    "import/newline-after-import": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "@sds/**",
            "group": "internal"
          },
          {
            "pattern": "src/**",
            "group": "object"
          }
        ],
        "groups": [
          "external",
          "internal",
          "object",
          ["parent", "sibling", "index"],
          "type"
        ],
        "newlines-between": "always"
      }
    ]
  },

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  }
}
