body {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
}

@media (max-width: 768px) {
  #menu_item {
    display: none;
  }
  .react-flow__minimap {
    display: none;
  }
  header {
    width: 100% !important;
    border-radius: 0 !important;
  }

  .react-flow__controls {
    top: 65px !important;
    left: 0px !important;
    bottom: 0 !important;
    height: 0 !important;
  }
}

.react-flow__node-jupiter {
  z-index: 1100 !important;
}

#root {
  oveflow: hidden;
}

.react-flow__attribution {
  display: none !important;
}
