body {
  margin: 0;
  font-family: Roboto !important;
}

@media (max-width: 768px) {
  #menu_item {
    display: none;
  }
  .react-flow__minimap {
    display: none;
  }
  header {
    width: 100% !important;
    border-radius: 0 !important;
  }
}

.react-flow__node-jupiter {
  z-index: 200 !important;
}
