.table {
  table-layout: fixed;
  & :global(.ant-table-thead tr th) {
    padding: 6px 24px;
    background: transparent;
    border-bottom: 2px solid var(--text-color-gray);
    font-weight: bold;
  }
  & :global(.ant-table-tbody tr td) {
    padding: 8px 24px 8px;
  }

  & :global(table) {
    table-layout: fixed !important;
  }
}

.loading {
  height: calc(100% - 32px);
}
